{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUS (C You Soon!)</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container big-ol-jug">
  <div class="row">
  </div>
  <div class="col-md-6 offset-md-3">
    {% block content %} {% endblock %}
  </div>
</div>

</body>
</html>
